<div class="teaser">
  <h1>protonet <span>it's yours.</span></h1>
  <p>
    protonet ist die IT-Infrastruktur-Lösung<br>
    für kleine und mittelständische Unternehmen.
  </p>
  <p>
    Kommunikation im Team oder mit dem Kunden <br> 
    so einfach und sicher wie möglich.
  </p>
  <p>
    
    <a href="#contact" class="button buy"><img src="/img/149.png" width="116" height="42" alt="149"></a>
    <a href="http://demo.protonet.info" class="button"><img src="/img/demo.png" width="116" height="42" alt="149"></a>
    <br><small>* monatlich zzgl. Mwst.</small>
  </p>
</div>
<nav>
  <ul>
    <li>
      <a href="#files" alt"privater Fileserver">
        <img src="img/files_small.png" width="68" height="68" alt="Files Small">
        <h3>Fileserver mit Private Cloud Charakter</h3>
        <p>
          Vollwertiger Netzwerkspeicher zur übersichtlichen Dateien- archivierung mit einfachem, sicheren Datenaustausch von bis zu 15 Terrabyte.
        </p>
      </a>
    </li>
    <li>
      <a href="#collaboration" alt"Kollaboration">
        <img src="img/save_small.png" width="71" height="71" alt="Save">
        <h3>Sichere Kommunikation mit schneller Suche</h3>
        <p>
          Geschlossene Channels für Projekte, Arbeitsgruppen, Abteilungen oder ähnliches ermöglichen konsequente Kommunikations- dokumentation.
        </p>
      </a>
    </li>
    <li>
      <a href="#global" alt"globaler Zugriff">
        <img src="img/global_small.png" width="71" height="72" alt="Global Small">
        <h3>Globaler Zugriff <br> auf alle Daten</h3>
        <p>
          Kompatibilität mit jedem aktuellen Browser und Betriebssystem ermöglicht den Zugriff auf alle Daten und Kommunikations- verläufe von überall.
        </p>
      </a>
    </li>
    <li>
      <a href="#usability" alt"Intuitive Bedienbarkeit">
        <img src="img/wand_small.png" width="60" height="60" alt="Wand Small">
        <h3>Intuitive <br> Bedienbarkeit</h3>
        <p>
          Die browserbasierte Bedienoberfläche setzt keinerlei IT Know-How voraus und ist mit einem Kopfdruck einsatzbereit. Der integrierte Administrationsbereich ist verständlich und einfach zu bedienen.
        </p>
      </a>
    </li>
    <li>
      <a href="#hardware-software" alt"Hard und Softare">
        <img src="img/hard_soft_small.png" width="67" height="67" alt="Hard Soft Small">
        <h3>Hardware und Software</h3>
        <p>
          Router, Datenspeicher, leistungsfähiger Rechner gepaart mit schlanker Software in perfekter Harmonie für maximale Potentialausschöpfung.
          </p>
      </a>
    </li>
  </ul>
</nav>

<section id="files">
  <img src="img/files.png" width="128" height="128" alt="Files">
  <h2>Fileserver mit private Cloud Charakter</h2>
  <p>
    Auf zwei bis 15 TB können die Nutzer ihre Daten ablegen. Die Oberfläche erinnert dabei dem gewohnten Explorer (PC) bzw. Finder (Mac). Die abgelegten Dateien sind nur für die Nutzer sichtbar, für die sie auch bestimmt sind. Die integrierten Festplatten im RAID-Verbund garantieren maximale Ausfallsicherheit durch Spiegelung. Sollte eine Festplatte ausfallen ist mindestens eine zweite aktiv, die für die Nutzer unbemerkt einspringt. Der Administrator wird in einem solchen Fall direkt benachrichtigt.
  </p>
</section>
<section id="collaboration">
  <img src="img/save.png" width="100" height="100" alt="Save">
  <h2>Geschlossene Kommunikation mit komfortabler Suche</h2>
  <p>
    Die Rechtevergabe für die Nutzer erfolgt über Channels, sie lassen sich für jede Abteilung, jedes Projekt oder Thema anlegen. Die Mitarbeiter werden zu diesen Channels hinzugefügt, auch Kunden und andere Externe können über den Administrationsbereich eingeladen werden und bekommen eingeschränkten Zugriff auf die Funktionen des Protonets. Der Chatverlauf im Channel ist fortlaufend und archiviert sich selbständig. Die komfortable Suchfunktion bleibt auch bei langen Kommunikationsverläufen schnell, sodass alte Nachrichten problemlos wiedergefunden werden. 
  </p>
</section>
<section id="global">
  <img src="img/global.png" width="128" height="128" alt="Global">
  <h2>Von überall auf Daten und Kommunikation zugreifen</h2>
  <p>
    Der Knoten kann für interne Kollaboration ausschließlich genutzt werden, jedoch kann jeder Nutzer auf Wunsch über das Internet (Publish to Web) von überall zugreifen. Dank der Kompatibilität mit jedem Browser (*ab Internet Explorer 8) wird der Zugriff nicht nur mit jedem PC, Mac oder Notebook ermöglicht, sondern auch mit den meisten mobilen Endgeräten. Wir empfehlen das Publish to Web zu aktivieren, um das gesamte Potential auszuschöpfen. Außerdem ist es Voraussetzung für unser Hardware-Monitoring, eventuellen Remote Zugriff, regelmäßige Updates und die Backups in die Cloud.
  </p>
</section>
<section id="usability">
  <img src="img/wand.png" width="128" height="128" alt="Wand">
  <h2>Intuitive Bedienbarkeit</h2>
  <p>
    Die Benutzeroberfläche im Browser ist für Nutzer und Administration einfach zu bedienen. Gewohnte Browserfunktionen gepaart mit intuitiven Bedienelementen von Windows oder Mac lassen jede Funktion an der richtigen Stelle erscheinen. Ob das Drag & Drop bei der Dateienspeicherung, die schlanken Menüs, die sich auf das Wesentliche konzentrieren oder die Übersichtlichkeit der abonnierten Kanäle, verfügbaren Nutzer und geteilten Dateien sind geliebte Merkmale der Protonet Nutzer.  
  </p>
</section>
<section id="hardware-software">
  <img src="img/hard_soft.png" width="128" height="128" alt="Hard Soft" >
  <h2>Hardware und Software in perfekter Harmonie</h2>
  <p>
    Durch perfektes Zusammenspiel der Hardware und Software bietet jeder Knoten mehr als die Komponenten für sich. Die intelligente Kombination aus Router und State of the Art Rechnerpower, bespielt mit unserer Software erfüllt den Wunsch nach einer "Es muss einfach funktionieren" -Lösung. Niedriger Stromverbrauch und maximale Lebensdauer der Komponenten sind uns wichtig. Aktuell verbauen wir den DualCore Prozessor E-350, 4 GB Arbeitsspeicher, 2x2 Terrabyte Western Digital (Green Series) Festplatten und einen leistungsstarken Wireless N Adapter. Die Software basiert auf Linux Ubuntu und ist in Node.js und Ruby on Rails geschrieben. 
  </p>
</section>

<section id="contact">
  <h2>Preise</h2>
  <div class="facts">
    <p>
      Bei einer monatlichen Gebühr von 149€ ist Email Support mit inbegriffen. Wir veröffentlichen regelmäßig Software-Updates, welche über die Administrationsoberfläche per Knopfdruck installiert werden können. Ein Virenschutz sichert alle gespeicherten Daten. Der Vertrag läuft mindestens 12 Monate und ist danach monatlich kündbar. Die Einrichtungsgebühr beträgt 599€.
    </p>
    <p><small>Alle Preise zzgl. Mwst.</small></p>
  </div>
  <form action="/contact" method="post">
    <h3>Interesse? Kontaktieren Sie uns.</h3>
    <div class="input">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" placeholder="Hans Hubertus" required value="<%= @name %>">
    </div>
    <div class="input">
      <label for="email">E-Mail:</label>
      <input type="email" id="email" name="email" placeholder="hans_hubert@example.com" value="<%= @email %>" required>
    </div>
    <div class="input">
      <label for="tel">Telefon:</label>
      <input type="text" name="tel" id="tel" placeholder="040 0010010110" value="<%= @tel %>">
    </div>
    <div class="input">
      <label for="message">Nachricht:</label>
      <textarea id="message" name="message" placeholder="Ich habe Interesse."><%= @message %></textarea>
    </div>
    <div class="button">
      <input type="submit" value="abschicken">
    </div>
  </form>
  
</section>
