<!doctype html>
<html>
<head>
  <meta charset="utf-8">

  <meta property="og:image" content="http://www.protonet.info/img/og_image.jpg">
  <meta property="og:title" content="protonet. it's yours.">
  <meta property="og:description" content="protonet ist die soziale IT-Infrastruktur
für kleine und mittelständische Unternehmen.">
  <meta property="fb:admins" content="747102405">
  <title>protonet. it's yours.</title>
  <meta name="description" content="protonet ist die soziale IT-Infrastruktur
für kleine und mittelständische Unternehmen.">

  <link rel="stylesheet" href="css/base.css">
  <link rel="stylesheet" href="css/style.css">
  <!--[if IE]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <% if @status == "success" %>
    <div id="success">Danke für die Nachricht, wir werden schnellstmöglich antworten.</div>
  <% elsif @status %>
    <div id="error"><%= @status %></div>
  <% end %>

  <header>
    <a href="/" title="logo">
      <img src="img/protonet.png" width="320" height="59" alt="Protonet">
    </a>
    <nav>
      <a href="/" class="<%= 'active' if @index %>" title="Home">Home</a>
      <a href="/team" class="<%= 'active' if @team %>" title="Team">Team</a>
      <a href="http://demo.protonet.info" title="Demo" target="_blank">Demo</a>
      <a href="http://blog.protonet.info" title="Blog" target="_blank">Blog</a>
    </nav>
  </header>
  <div id="main">
    <%= yield  %>
  </div>
  <footer>
    <ul>
      <li><a href="/newsletter">Newsletter</a></li>
      <li><a href="http://blog.protonet.info" target="_blank">Blog</a></li>
      <li><a href="/team#contact">Kontakt</a></li>
      <li><a href="/#">Datenschutz</a></li>
      <li><a href="/impressum">Impressum</a></li>
    </ul>

    <p>&copy; copyright protonet 2012</p>
  </footer>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="/js/script.js"></script>

  <script>
    var _gaq=[['_setAccount','UA-29221251-1'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>