<section id="mc_embed_signup">
  <h1>Bleiben Sie informiert und abbonieren Sie unseren Newsletter</h1>
  <form action="http://protonet.us4.list-manage.com/subscribe/post?u..." method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
    <div class="input">
      <label for="mce-EMAIL">E-Mail:</label>
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="hans_hubert@example.com" required>
    </div>
    <div class="button">
      <input type="submit" value="Abbonieren" name="subscribe" id="mc-embedded-subscribe" class="button">
    </div>
  </form>
</div>