<section id="mc_embed_signup">
  <h1><%= t.newsletter.headline %></h1>
  <form action="http://protonet.us4.list-manage.com/subscribe/post?u=c9e8e52c812dee7bfd031a95c&amp;id=75b02e1b0a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
    <div class="input">
      <label for="mce-EMAIL"><%= t.newsletter.label %></label>
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="<%= t.newsletter.placeholder %>" required>
    </div>
    <div class="button">
      <input type="submit" value="<%= t.newsletter.button%>" name="subscribe" id="mc-embedded-subscribe" class="button">
    </div>
  </form>
</div>