<section id="privacy">
  <h1>Datenschutzerklärung / Hinweise zum Datenschutz</h1>
  <p>
    Wir möchten die Besucher unserer Internetseiten gerne über Zweck, Art und Umfang der Erhebung, Verarbeitung und Nutzung personenbezogener Daten auf unserer Webseite zu informieren. 
  </p>
  <p>
    Beim Besuch unserer Internetseiten werden Daten erhoben, verarbeitet und genutzt, bei denen ein Personenbezug nicht immer ausgeschlossen werden kann. Damit die Seiten in Ihrem Browser dargestellt werden können, muss die IP-Adresse erhoben werden, da ansonsten Ihr Browser in Ihrem Endgerät (z.B. PC, Notebook, Smartphone) keine Daten von dieser Internetseite empfangen kann. In der Regel wird eine IP-Adresse derzeit durch Ihren Provider dynamisch vergeben. Diese Adresse wechselt meist regelmäßig, so dass wir aus der IP-Adresse keinen Personenbezug herstellen können. Bei statischen IP-Adressen wäre jedoch in Einzelfällen ggf. die Herstellung eines Personenbezuges theoretisch möglich. Unser Webserver ist jedoch so konfiguriert, dass keine IP-Adressen gespeichert werden. Wir können daher aus diesen Protokolldaten keinerlei Personenbezug erkennen. In der Protokolldatei des Webservers werden ggf. weitere Informationen zu dem Datenabruf gespeichert. Dazu können gehören:
  </p>
  <ul>
    <li>Betriebssystem des aufrufenden Rechners</li>
    <li>Browser Version des aufrufenden Rechners</li>
    <li>Name der abgerufenen Datei</li>
    <li>Datum und Uhrzeit des Abrufs</li>
    <li>übertragene Datenmenge</li>
    <li>Verweisende URL</li>
  </ul>
  <p>
    Die gespeicherten Daten werden nur zu statistischen Zwecken und vor allem zur Fehlerbehebung gespeichert und genutzt. Einen Personenbezug können wir aus den Daten regelmäßig nicht herstellen. Und vor allem haben wir kein Interesse an einer Herstellung des Personenbezuges. 
  </p>
  
  <h2>Cookies</h2>
  <p>
    Wir setzen auf unserer Internetseite sogenannte Cookies ein. Cookies sind kleine Textinformationen, die auf Ihrer Festplatte gespeichert werden. Die Cookies sind erforderlich, um bestimmte Funktionen des Dienstes zu ermöglichen. Sie haben die Möglichkeit, das Setzen von Cookies durch entsprechende Einstellungen in Ihrem Browser zu unterbinden. Wir weisen jedoch darauf hin, dass die Nutzung unserer Internetseiten dann ggf. nur eingeschränkt möglich ist. Durch Cookies werden keine Programme oder sonstige Applikationen auf Ihrem Rechner installiert oder gestartet.
  </p>
  
  <h2>Webanalyse</h2>
  <p>  
    Auf dieser Website kommt das Webanalyse-Tool “Google Analytics” zum Einsatz. Zweck des Einsatzes ist die „bedarfsgerechte Gestaltung“ dieser Internetseite. Mit diesem „juristischen“ Begriff ist gemeint, dass wir das Nutzungsverhalten von Besuchern dieser Internetseite analysieren, um z.B. in Erfahrung zu bringen, aufgrund welche Suchbegriffe in Suchmaschinen diese Seite gefunden und aufgerufen wird. Wir können außerdem durch die Protokollierung der abgerufenen Seiten erkennen, welche Informationsangebote von uns möglicherweise besonders interessant (weil mehr frequentiert) sind und was ggf. tun können, um andere Seiten noch besser zu gestalten, um sie für Sie interessant zu machen. Die Webanalyse ermöglicht uns außerdem vor allem, Fehler der Internetseite z.B. durch fehlerhafte Links zu erkennen und zu beheben. 
  </p>
  <p>
  Für Zwecke der bedarfsgerechten Gestaltung der Website benutzen wir Google Analytics, einen Webanalysedienst der Google Inc. („Google“). Google Analytics verwendet sog. „Cookies“, Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch Sie ermöglichen. Die durch den Cookie erzeugten Informationen über Ihre Benutzung dieser Website werden in der Regel an einen Server von Google in den USA übertragen und dort gespeichert. Im Falle der Aktivierung der IP-Anonymisierung auf dieser Webseite, wird Ihre IP-Adresse von Google jedoch innerhalb von Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten des Abkommens über den Europäischen Wirtschaftsraum zuvor gekürzt. Nur in Ausnahmefällen wird die volle IP- Adresse an einen Server von Google in den USA übertragen und dort gekürzt. Im Auftrag des Betreibers dieser Website wird Google diese Informationen benutzen, um Ihre Nutzung der Website auszuwerten, um Reports über die Websiteaktivitäten zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen gegenüber dem Websitebetreiber zu erbringen. Die im Rahmen von Google Analytics von Ihrem Browser übermittelte IP-Adresse wird nicht mit anderen Daten von Google zusammengeführt. Sie können die Speicherung der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website vollumfänglich werden nutzen können. Sie können darüber hinaus die Erfassung der durch das Cookie erzeugten und auf Ihre Nutzung der Website bezogenen Daten (inkl. Ihrer IP-Adresse) an Google sowie die Verarbeitung dieser Daten durch Google verhindern, indem sie das unter dem folgenden Link verfügbare Browser-Plugin herunterladen und installieren <a href="http://tools.google.com/dlpage/gaoptout?hl=de">http://tools.google.com/dlpage/gaoptout?hl=de</a>
  </p>

  <h2>Newsletter</h2>
  <p>
    Wir bieten Ihnen die Möglichkeit, unseren Newsletter zu abonnieren. Hierzu benötigen wir Ihre E-Mail-Adresse.
  </p>
  <p>
    Wir weisen darauf hin, dass wir einen Dienstleister für den Versand der Newsletter E-Mails nutzen, der seinen Sitz in den USA hat. Dieser speichert auch die IP-Adresse, die Ihrem Endgerät zugewiesen war, als Sie den Newsletter bestellt haben.
  </p>
  
  <h2>Änderung dieser Bestimmungen</h2>
  <p>
    Bei einer Änderung gesetzlicher Vorschriften oder unseres Dienstes kann eine Anpassung dieser Datenschutzerklärung erforderlich werden. Die jeweils aktuelle Fassung der Datenschutzbestimmungen kann jederzeit auf unter dem Link Datenschutz eingesehen werden. 
  </p>

  <h2>Fragen</h2>  
  <p>
    Wenn Sie Fragen zum Datenschutz haben oder Ihre Betroffenenrechte geltend machen wollen, dann können Sie sich gern jederzeit an uns wenden.
  </p>
  <p>Stand: 12.04.2012</p>
</section>