<hgroup><h1>Meet the <span>team</span></h1></hgroup>
<section id="team">
  <div class="member">
    <h3>Ali Jelveh<span>Co-Founder & Chief Revolutionary Officer</span></h3>
    <img src="img/team/ali.jpg" width="250" height="250" alt="Ali Jelveh">
    <p>
      Ali begann seine Entwicklerkarriere mit der Programmierung kleiner Rechnungssysteme. Er wuchs schnell an den Aufgaben, entwickelte ERPs für mittelständische Unternehmen, Webstores und mit dem Erwachsenwerden des Webs designte und entwickelte Ali JavaScript Architekturen für eines der ersten großen sozialen Netzwerke. Später wurde er von der XING AG als Ruby on Rails Entwickler eingestellt. Hier entstanden die Visionen für Protonet, zusammen mit Christopher fing er an neben der Arbeit die ersten protonet Features zu programmieren.
    </p>
  </div>
  <div class="member">
    <h3>Christopher Blum<span> Co-Founder & Intergalactic President</span></h3>
    <img src="img/team/tiff.jpg" width="250" height="250" alt="Christopher Blum">
    <p>
      Im Alter von 16 gründete Christopher sein erstes Unternehmen, PackYourFiles.com, ein Share Hoster ähnlich zu Rapidshare. Später studierte er Kommunikations-Design und startete als Freelancer in einer Online Marketing Agentur. Wie Ali wechselte er zur XING AG, wo er hauptsächlich für die Frontend Architektur und die Integration von Third Party Apps zuständig war. Zusammen entwickelten beide den ersten Protonet Prototypen. Neben seiner Arbeit für Protonet betreibt Christopher die weltweit größte Website für Rechtschreibprüfung (SpellBoy.com).
    </p>
  </div>
  <div class="member">
    <h3>Henning Thies<span>Senior Interactive Developer</span></h3>
    <img src="img/team/henning.jpg" width="250" height="250" alt="Henning Thies">
    <p>
      Auf dem i486 seiner Eltern begann Henning mit Turbo Pascal seine Entwicklerkarriere. Nach der Schule studierte er IT und Design in Lübeck, Valencia und später in Hamburg, nebenbei arbeitete er für eine kleine Agentur und spezialisierte sich auf Webprogrammierung. Er fing als Ruby on Rails Entwickler bei Ubilabs an, ist Google Qualified Developer, setzte für die Empuxa GmbH diverse Webprojekte um und traf auf Ali und Christopher. Heute arbeitet er für Protonet als Front- und Backend Entwickler.
    </p>
  </div>
  <div class="member new-line">
    <h3>Wolfgang Peters<span>Serious Business Officer</span></h3>
    <img src="img/team/wolle.jpg" width="250" height="250" alt="Wolfgang Peters">
    <p>
      In der Schulzeit verdiente sich Wolfgang mit der Entwicklung kleiner Firmenwebseite etwas Taschengeld, später ging er aufs Wirtschaftsgymnasium, studierte Wirtschaftswissenschaften an der Uni Kiel und der Uni Tromso. Während des Studiums arbeitete er an verschiedenen Beratungs- und Gründungsprojekten, bis er bei einem deutschen Startup Inkubator als Entrepreneur in Residence anfing. Während dieser Zeit lernte er Ali, Christopher und Henning kennen. Heute kümmert er sich um "alles, was nicht Programmieren ist".
    </p>
  </div>
  <div class="member">
    <h3>Johannes von Bargen<span>Dynamic Research Scientist</span></h3>
    <img src="img/team/johannes.jpg" width="250" height="250" alt="Johannes von Bargen">
    <p>
      Seit der Schulzeit bietet Johannes Web-, E-Mail- und Backup-Hostingdienste für kleine Unternehmen an und arbeitet als freier Entwickler. Er studierte Architektur und Urbane Entwicklung in Hamburg. Er interessiert sich für jede Art von Informationstechnologie, insbesondere wenn sie Menschen das Leben erleichtert. Mit dieser Einstellung ist er bei Protonet gelandet und arbeitet im Team als Entwickler.
    </p>
  </div>
  <div class="member">
    <h3>David Burkhardt<span>Senior Craft Meister</span></h3>
    <img src="img/team/david.jpg" width="250" height="250" alt="David Burkhardt">
    <p>
      Während seiner Schulzeit gewann David den Landeswettbewerb Jugend forscht mit einem Cluster aus passiv gekühlten Minicomputern. Mit 18 gründete er die Firma Cooling-store und fertigte Custom Wasserkühlungen und Passivkühler. An der Kunsthochschule Hamburg Lerchenfeld belegt er das Studienfach Design und ist studentischer Tutor in der mixed Media Werkstatt der Kunsthochschule. Über seinen Professor Glen Oliver Löw kam er zu Protonet. Von den ersten Entwürfen über Prototypen bis hin zum finalen Produkt, das noch immer in Hamburg handgefertigt wird, verantwortet David die Hardware-Prozesse bei Protonet.
    </p>
  </div>
</section>

<section id="office">
  <h2>Unser Office</h2>
  <img src="img/office.jpg" width="280" height="158" alt="Office">
  <p>
    Wir arbeiten aus dem Betahaus in Hamburg heraus. Hier versorgen wir bereits alle Coworker mit unserer IT-Infrastruktur. Gerne präsentieren wir dort unser Produkt neuen Interessenten.
    <address>
      betahaus hamburg <br>
      Lerchenstraße 28a / Eingang Schilleroper<br>
      22767 Hamburg<br>
      team@protonet.info
    </address>
  </p>
</section>